<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h2>Posts:</h2>
    <ol>
      <% if (posts.length) {%>
        <% posts.forEach(({id, title, createdAt, text, author})=> {  %>
          <li>
            <article class="post-item">
               <div class="info-item">
                 <span class="post-date"><%= createdAt.toLocaleDateString() %></span>
              <strong >
                <a class="post-title" href="/posts/<%= id %>"><%= title %></a>
              </strong>
              <p class="post-text"><%= text %></p>
              <div class="info">
               
                <span class="post-author"><%= author %></span>
              </div>

               </div>
               <button class="btn-delete" data-id="<%= id %>">
                Delete
              </button>
             
            </article>
            
          </li>
          <% }) %>
          <% } %>
    </ul>
    <script>
      document.addEventListener('click', (e) => {
        const id = e.target?.dataset?.id || null;
        if(id) {
          fetch(`/posts/${id}`, { 
            method: "DELETE",
          }).then(() => {
            window.location.reload();
          })
        }
      });
    </script>
  </body>
</html>
